<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>masonry</title>
    <style>
      .masonry {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(50px, auto);
      }
      .item:nth-child(odd) {
        background-color: bisque;
      }

      .item {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="masonry">
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, eos. Sit
        amet sapiente quibusdam, unde libero ipsam debitis ea doloremque dicta
        expedita accusantium, nobis consequuntur ex sed in itaque? Suscipit
        quidem repellat voluptates molestiae asperiores libero quis optio
        impedit eos? Ducimus maiores ullam odio doloremque aliquam voluptates,
        molestiae sequi enim eligendi. Praesentium autem itaque cumque,
        reprehenderit earum necessitatibus velit iste at nostrum fugit quam
        ipsum repudiandae laborum quasi eos commodi rem non excepturi accusamus
        magnam libero ad. Dolores quisquam quidem perferendis quod inventore, at
        nobis in optio asperiores ipsum ipsa animi adipisci? Itaque, quibusdam!
        Natus, quas cum? Aliquam, ut culpa.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        id.consectetur adipisicing elit. Quas, id.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, id.
      </div>
      <div class="item">
        Lorem
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        nesciunt laudantium sit temporibus quo aliquid sunt. Assumenda,
        accusantium fuga dolores nemo tempora minima eum error deleniti aperiam
        sint velit?
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        id.nsectetur adipisicing elit. Quas, id.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet co
      </div>
      <div class="item">
        Lorem
      </div>
      <div class="item">
        Lorem, ipsum dolor.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        id.nsectetur adipisicing elit. Quas, id.
      </div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, id.
      </div>
    </div>
  </body>
</html>
