<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>masonry</title>
    <style>
      .masonry {
        display: flex;
        flex-direction: row;
      }
      .item:nth-child(odd) {
        background-color: bisque;
      }
      .cell:nth-child(odd) {
        background-color: lightgray;
      }
      .item {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    </style>
  </head>
  <body>
    <div class="masonry">
      <div class="item">
        <div class="cell">aa</div>
        <div class="cell">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, nesciunt!</div>
        <div class="cell">Lorem ipsum dolor sit.</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore magnam itaque neque incidunt asperiores dolorum ratione esse distinctio maxime porro fuga ducimus mollitia, natus laudantium expedita ex tenetur nobis.</div>
        <div class="cell">Lorem, ipsum.</div>
        <div class="cell">Lorem ipsum dolor sit amet consectetur.</div>
      </div>
      <div class="item">
        <div class="cell">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis dignissimos placeat ab vel, consectetur dolore impedit esse perferendis velit eveniet autem accusamus modi vitae, aspernatur dolorem odit et ut!</div>
        <div class="cell">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis dignissimos placeat ab vel, consectetur dolore impedit esse perferendis velit eveniet autem accusamus modi vitae, aspernatur dolorem odit et ut!</div>
        <div class="cell">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis dignissimos placeat ab vel, consectetur dolore impedit esse perferendis velit eveniet autem accusamus modi vitae, aspernatur dolorem odit et ut!</div>
      </div>
      <div class="item">
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
        <div class="cell">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, voluptatem!</div>
      </div>
    </div>
  </body>
</html>
